.cv {
    max-width: auto;
    max-height: 800px;
    margin-left: 25%;
}

.print {
    display: flex;
}

.button {
    max-width: 100px;
    max-height: 40px;
    background-color: orange;
    margin: 10px;
}