img {
    width: auto;
    height: 150px;
    padding: 10px;
   
}

.art {
    border: 2px solid red;
    padding: 2px;
    margin: 5px;
    text-align: center;
    background-color: #F9ECBA;
}

.books {
    border: 2px solid red;
    padding: 2px;
    margin: 5px;
    text-align: center;
    background: url("media/backgroundfaded.jpg") no-repeat center center/cover;
    
}

.exercise {
    border: 2px solid red;
    padding: 2px;
    margin: 5px;
    text-align: center;
    background-color: #F9ECBA;
}

.creative {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

.reading {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

.fit {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}
